/* –––––GENERAL––––– */

body {
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    margin: 0;

    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    color: #000;

    font-family: "HelveticaNeue";

    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: -0.7px;
}

/* –––––NAV––––– */

.nav {
    box-sizing: border-box;

    width: 100%;
    height: 120px;
    padding: 12px 48px 12px 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-shrink: 0
}

.nav__button {
    cursor: pointer;
}

/* –––––BACKGROUND COLOR TAGS––––– */

.bkg--green {
    background-color: #75E658;
}

.bkg--pink {
    background-color: #FF6EC5;
}

.bkg--red {
    background-color: #FF323A;
}

.bkg--orange {
    background-color: #FF8C35;
}

.bkg--yellow {
    background-color: #FFD33D;
}

/* –––––SITE STRUCTURE & COLUMN TAGS––––– */

.main {
    box-sizing: border-box;
    overflow: hidden;

    width: 100%;
    height: 100%;
    display: flex;
}

.col {
    box-sizing: border-box;
    overflow: scroll;

    width: 120px;
    height: 100%;
    padding: 48px;
    transition: 1s;

    display: flex;
    justify-content: start;
    gap: 48px;

    cursor: pointer;
}

.col:hover {
    width: 100%;
    animation-name: col--slide;
    transition: 1s;
}

.col--column {
    display: block;
}

.col__text {
    min-width: 0;
    overflow-wrap: break-word;
    margin-bottom: 48px;
}

.col__image {
    mix-blend-mode: multiply;
    transition: 0.5s;
    height: 100%;
}

.col__image:hover {
    /* mix-blend-mode: normal; */
    transition: 0.5s;
}

.col__image--shadow-green:hover {
    box-shadow: 0px 0px 60px 0px #75E658;
}

.col__image--shadow-pink:hover {
    box-shadow: 0px 0px 60px 0px #FF6EC5;
}

.col__image--shadow-red:hover {
    box-shadow: 0px 0px 60px 0px #FF323A;
}

.col__image--shadow-orange:hover {
    box-shadow: 0px 0px 60px 0px #FF8C35;
}

.col__image--shadow-yellow:hover {
    box-shadow: 0px 0px 60px 0px #FFD33D;
}

.col__image--shadow-blue:hover {
    box-shadow: 0px 0px 60px 0px #3B7DF3;
}

.col__image--justifytoend {
    margin-left: auto;
}

.col__image--stretchtowidth {
    width: 100%;
}

.col__image-container {
    display: inline-block;

    line-height: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    transition: 0.5s;
}

.col__image-container:hover {
    background-color: #ffffff;
    transition: 0.5s;
}

.col__image-container--nohover {
    pointer-events: none;
}

.col__image-container--gap {
    margin-bottom: 48px;
}

/* –––––ABOUT PROJECT COLUMN TAGS––––– */

.col-about {
    box-sizing: border-box;
    overflow: hidden;

    height: 100%;
    padding: 48px;
    transition: 1s;

    display: block;
}

.col-about--big {
    width: 65%;
}

.col-about--small {
    width: 35%;
}

.col-about__textbox {
    width: 60%;
}